:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #f5f4fa;
  --primary-bth-hover-color: #188CE8;
  --icon-color-customers: #AFB1B8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

.address {
  font-style: normal;
}

.icon {
  fill: var(--primary-text-color);
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.work {
  padding-top: 0;
}

.section.team {
  background-color: var(--third-bg-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

.container-join .section-title,
.container-form .section-title {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-align: left;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .container-join .section-title,
  .container-form .section-title {
    text-align-last: left;
  }
}

.modal .section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.button {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.primary:hover, .button.primary:focus {
  background-color: var(--primary-bth-hover-color);
}

.btn-container .button.primary {
  position: relative;
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 29px;
  padding-right: 29px;
}

.modal .button.primary {
  margin: 0 auto;
  width: 200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 94%;
  max-height: 94%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-field:not(:first-child) {
  margin-top: 10px;
}

.modal .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transform: translateY(-50%);
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-term-desc {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .modal-form-term-desc {
    font-style: 14px;
    line-height: 1.71;
  }
}

.modal-form-term-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:checked + .modal-form-term-desc::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  border: 0;
}

.modal-form-term-desc .term {
  text-decoration: underline;
  color: var(--accent-color);
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.page-header .logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.page-header .logo .color {
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact.list {
    display: none;
  }
}

.mobile-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-open-btn:hover .mobile-open-icon,
.mobile-open-btn:focus .mobile-open-icon {
  fill: var(--accent-color);
}

.mobile-open-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 50%;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  transform: translateX(-50%) translateY(-100%);
}

.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: var(--accent-color);
}

.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-list-nav .mobile-menu-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list-nav .mobile-menu-list-link.link.current {
  color: var(--accent-color);
}

.mobile-menu-list-nav .mobile-menu-list-link.link {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.mobile-menu-list-contact .mobile-menu-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list-contact .mobile-menu-list-link-tel.link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.mobile-menu-list-contact .mobile-menu-list-link-email.link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.mobile-menu-list-soc {
  display: flex;
  margin-top: 32px;
}

.mobile-menu-list-soc .mobile-menu-list-link.link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
  padding: 0 10px 0 0;
  letter-spacing: 0.02em;
}

.mobile-menu-list-item-social:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-list-item-social:not(:first-child) {
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .page-header {
    padding: 26px 0;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .main-nav .link {
    position: relative;
  }
  .main-nav .logo {
    margin-right: 76px;
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
  .main-nav .logo .color {
    color: var(--title-text-color);
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link.current::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 32px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact .item {
    position: relative;
  }
  .contact .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contact .link.mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .link.tel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .link:hover, .contact .link:focus {
    color: var(--accent-color);
  }
  .contact .link:hover .icon, .contact .link:focus .icon {
    fill: var(--accent-color);
  }
  .contact .mail.icon {
    margin-right: 8px;
  }
  .contact .tel.icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0;
  }
  .main-nav .logo {
    margin-right: 93px;
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact .item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link.current::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 25px;
  }
}

.hero {
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"), url("../images/mobile/title/hero_m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 280px) and (min-device-pixel-ratio: 2), (min-width: 280px) and (min-resolution: 192dpi), (min-width: 280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"), url("../images/mobile/title/hero_m@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"), url("../images/tablet/title/header_t@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"), url("../images/tablet/title/header_t@2x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"), url("../images/desktop/title/header_d@2x.jpg");
  }
}

.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.feature-list .item {
  width: calc(100% / 1 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .feature-list .item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item {
    width: calc(100% / 4 - 30px);
  }
}

.feature-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .container-feature-icon {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px 0;
  background-color: var(--third-bg-color);
  border-radius: 4px;
}

.feature-list .container-feature-icon .feature.icon {
  width: 70px;
  height: 70px;
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-list .item {
  position: relative;
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.work-list .work-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list .item {
  width: calc(100% / 1 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list .item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item {
    width: calc(100% / 4 - 30px);
  }
}

.team-list .item .container-team {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-list .item .container-team {
    padding-bottom: 30px;
  }
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.19;
  text-align: center;
}

.team-list .section-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.our-team-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-team-social .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social .logo-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-team-social .logo-item .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.our-team-social .logo-item .our-team.link:hover,
.our-team-social .logo-item .our-team.link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.our-team-social .logo-item .our-team.link:hover .icon,
.our-team-social .logo-item .our-team.link:focus .icon {
  fill: var(--primary-white-color);
}

.customers .customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .item {
  width: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .customers .item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers .item {
    width: calc(100% / 6 - 30px);
  }
}

.customers .customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color-customers);
  border-radius: 4px;
}

.customers .customers-link:hover, .customers .customers-link:focus {
  border: 1px solid var(--accent-color);
}

.customers .customers-link:hover .icon,
.customers .customers-link:focus .icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer .logo {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    text-align: left;
  }
}

.footer .logo .color {
  color: var(--primary-white-color);
}

.address-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .address-contact {
    align-items: start;
  }
}

.address-contact .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-contact .map-address {
  color: var(--primary-white-color);
}

.address-contact .address {
  color: var(--footer-link-color);
}

.address-contact .link:hover,
.address-contact .link:focus {
  color: var(--accent-color);
}

.container-join {
  padding-top: 12px;
  margin-bottom: 60px;
}

.container-join .list {
  display: flex;
  flex-wrap: wrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-join .list .logo-item:not(:last-child) {
  margin-right: 10px;
}

.container-join .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
}

.container-join .link:hover, .container-join .link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.container-join .link:hover .icon,
.container-join .link:focus .icon {
  fill: var(--primary-white-color);
}

.container-join .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .container-join {
    margin-left: 70px;
  }
}

.container-form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container-form {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container-form {
    padding-top: 12px;
    width: 570px;
    margin-left: 93px;
  }
}

.container-form .container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .container-form .container-input {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.container-form .btn-container {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container-form .btn-container {
    margin: 0 0 0 12px;
  }
}

.container-form .footer-icon-position {
  position: absolute;
  padding-top: 3px;
  margin-left: 10px;
}

.container-form .footer-email {
  width: 100%;
  height: 50px;
  padding: 14px;
  margin-bottom: 20px;
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .container-form .footer-email {
    width: 358px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */