.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    .item {
        width: calc(100% / 1 - 30px);
        margin-top: 30px;
        margin-left: 30px;

        @media screen and (min-width: 768px) {
            width: calc(100% / 2 - 30px);
        }

        @media screen and (min-width: 1200px) {
            width: calc(100% / 4 - 30px);
        }

    }

    & .title {
        margin-bottom: 10px;
        color: var(--title-text-color);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }


    & .container-feature-icon {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 25px 0;
        background-color: var(--third-bg-color);
        border-radius: 4px;

        & .feature.icon {
            width: 70px;
            height: 70px;

        }
    }
}

// .feature-list {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -30px;
//     margin-left: -30px;

//     .item {
//         width: calc(100% / 4 - 30px);
//         margin-top: 30px;
//         margin-left: 30px;
//     }

//     & .title {
//         margin-bottom: 10px;
//         color: var(--title-text-color);

//         width: 270px;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 1.14;
//         text-transform: uppercase;
//     }
// }

// .feature-icon {
//     display: flex;
//     font-weight: wrap;
//     margin-top: -30px;
//     margin-left: -30px;
//     margin-bottom: 30px;

//     & .item {
//         width: calc(100% / 4 - 30px);
//         margin-top: 30px;
//         margin-left: 30px;

//         padding: 25px 100px;
//         background-color: var(--third-bg-color);
//         border-radius: 4px;
//     }

//     & .feature.icon {
//         width: 70px;
//         height: 70px;
//     }

// }