:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --third-bg-color: #f5f4fa;
    --primary-bth-hover-color: #188CE8;
    --icon-color-customers: #AFB1B8;
}